header
{
    margin-left: 13%;
    vertical-align: middle;
    text-align: center;
    background-color: blueviolet;
    color: white;
    height: 11vh;
    width: 75.91%;
    padding-top: 0%;
}

.gauche
{
    margin-left: 12.90%;
    top:16%;
    width: 18%;
    padding:0.50%;
    border-left: 3px solid;
    position: absolute;
    border-bottom: 3px solid;

}
.droite
{
    margin-left: 5%;
    top:16%;
    width: 56.7%;
    left: 25.35%;
    padding:0.5%;
    border-left: 3px solid;
    border-right: 3px solid;
    position: absolute;
    border-bottom: 3px solid;
}
.photo
{
    margin-top: 1vh;
    width: 12.6vw;
    height: 31vh;
}
ul
{
    margin-left: -20px;

}
a
{
    text-decoration: none;

}
.droite h2
{
    text-transform:uppercase ;
    margin-top: -20;
}
